#headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 100vw;
  height: 90vh;
  background-image: url(../images/main_big.png);

  .content {
    display: flex;
    max-width: 65rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.875rem;

    .heading {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.625rem;

      h3 {
        color: var(--primary-c-olor, #EC5242);
        font-size: 2.85438rem;
        letter-spacing: 0.08725rem;
      }

      h1 {
          display: flex;
          flex-direction: column;
          font-size: 5rem;
          font-weight: 900;
          line-height: 5.625rem;
          letter-spacing: -0.09rem;
          background-image: url(../images/bg.jpg);
      }
    }

    .discription {
      display: flex;
      width: 70%;
      padding: 1.5rem 1.375rem;
      align-items: flex-start;
      gap: 0.625rem;
      border: 5px solid #FFF;
      background: #FAFAFB;

      p {
        color: var(--secondary-color, #272A31);
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 1.4375rem;
        letter-spacing: 0.03125rem;
      }
    }

    .location {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.875rem;

      h4 {
        color: var(--secondary-color, #272A31);
        font-size: 2.25rem;
        font-family: Lato;
        font-weight: 900;
        letter-spacing: 0.09375rem;
      }

      p {
        color: var(--secondary-color, #272A31);
        font-size: 1.5rem;
        font-family: Lato;
        font-weight: 500;
        letter-spacing: -0.03125rem;
      }
    }
  }
}